*.pyc
.pytest_cache
# Ignore all text files
binV2/bearings.txt
binV2/peaks.txt
binV2/mask.txt

devvenv
jars/elasticsearch-hadoop-8.2.3.jar
jars/pyspark_pex_env.pex
binV2/tests_scripts/coordinates_test.py
binV2/tests_scripts/getESData.py
binV2/tests_scripts/new2.py
binV2/tests_scripts/test.html
binV2/tests_scripts/@enrichment.py
binV2/tests_scripts/@parsing.py
binV2/tests_scripts/@publish_sensor.py
src/main/python/bin/Subscribers/check-point-crfs-static*
binV2/tests_scripts
binV2/Subscribers/checkpoint-locations
binV2/states_2022-06-27-00.csv
binV2/simulated_scripts/publish_signal_shark_script.py
binV2/tests/.pytest_cache
binV2/vessels.csv
binV2/utils/shipmovement.csv
binV2/utils/ships.csv
binV2/utils/moving_vehicle.csv
*.csv